<nav class=" sticky w-full z-20 top-0 border-b border-gray-200 px-20">
  <div class="flex items-center justify-between  p-4 md:gap-x-4">
    <a href="#" class="flex items-center space-x-3">
      <img src="Logo.png" class="h-7 rounded-lg" alt=" Logo" />
      <h1 class="text-2xl font-bold text-gray-900">Good morning,Smith</h1>
    </a>
    <div class="order-2 md:order-2 w-full md:w-64 mt-3 md:mt-0 ml-auto">
      <div class="relative">
        <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
          <span class="pi pi-search text-gray-400"></span>
        </div>
        <input
          type="text"
          class="block w-full pl-9 pr-3 py-2.5 border-none focus:ring-[#fff] focus:border-[#fff] text-gray-900 text-sm rounded-lg placeholder-gray-400"
          placeholder="Search"
        />
      </div>
    </div>
    <div class="order-3 flex items-center space-x-3 ml-3">
      <button
        type="button"
        id="user-menu-button"
        data-dropdown-toggle="user-dropdown"
        class="flex text-sm bg-white w-10 h-10 justify-center items-center rounded-full focus:ring-4 focus:ring-gray-200"
      >
        <span class="sr-only">Open user menu</span>
        <img
          class="w-10 h-10 rounded-full"
          src='Logo.png' alt="user photo"
        />
        <!-- <span class="pi pi-user text-xl"></span> -->
      </button>
      <div
        id="user-dropdown"
        class="z-50 hidden bg-white border border-gray-200 rounded-lg shadow-lg w-44"
      >
        <div class="px-4 py-3 text-sm border-b border-gray-200">
          <span class="block font-medium text-gray-900">Joseph McFall</span>
          <span class="block text-gray-500 truncate">name@flowbite.com</span>
        </div>
        <ul class="p-2 text-sm font-medium text-gray-700">
          <li>
            <a href="#" class="block p-2 rounded hover:bg-gray-100 hover:text-gray-900"
              >Dashboard</a
            >
          </li>
          <li>
            <a href="#" class="block p-2 rounded hover:bg-gray-100 hover:text-gray-900">Sign out</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
