<div class="w-full bg-[#f7f9fb] flex items-center justify-cente h-screen">
  <div class=" bg-white flex flex-col items-center w-lg m-auto pb-5">
    <div class="text-center bg-black m-auto rounded-lg text-white py-4 w-full">
      <img src="Logo.png" class="w-20 h-20 m-auto" />
      <h1 class="text-2xl font-semibold mb-2">Create an account</h1>
      <p class="text-body-subtle text-sm">Enter your detail to Create your account today</p>
    </div>
    <form class=" mx-auto p-8 flex flex-col gap-4 w-full">
      <div class="mb-5">
        <label for="name" class="block mb-2.5 text-sm font-medium text-heading">Fullname</label>
        <input
          type="text"
          formControlName="name"
          id="name"
          class="bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-green-400 focus:border-green-400 block w-full px-3 py-2.5 shadow-xs placeholder:text-body"
          placeholder="John Koi"
          required
        />
      </div>
      <div class="mb-5">
        <label for="email" class="block mb-2.5 text-sm font-medium text-heading">Email</label>
        <input
          type="email"
          formControlName="email"
          id="email"
          class="bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-green-400 focus:border-green-400 block w-full px-3 py-2.5 shadow-xs placeholder:text-body"
          placeholder="name@flowbite.com"
          required
        />
      </div>
      <div class="mb-5">
        <label for="password" class="block mb-2.5 text-sm font-medium text-heading">Password</label>
        <input
          type="password"
          formControlName="password"
          id="password"
          class="bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-green-400 focus:border-green-400 block w-full px-3 py-2.5 shadow-xs placeholder:text-body"
          placeholder="••••••••"
          required
        />
      </div>
      <div class="mb-5">
        <label for="password" class="block mb-2.5 text-sm font-medium text-heading"
          >Confirm password</label
        >
        <input
          type="password"
          id="password"
          class="bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-green-400 focus:border-green-400 block w-full px-3 py-2.5 shadow-xs placeholder:text-body"
          placeholder="••••••••"
          required
        />
      </div>
      <label for="remember" class="flex items-center mb-5">
        <input id="remember" type="checkbox" value="" class="w-4 h-4 border border-default-medium rounded-xs bg-neutral-secondary-medium focus:ring-2 focus:ring-brand-soft" required />
        <p class="ms-2 text-sm font-medium text-heading select-none">I agree with the <a href="#" class="text-fg-brand hover:underline">terms and conditions</a>.</p>
      </label>
      <button
      type="submit"
      class="text-white w-full transition-colors bg-green-400 box-border border border-transparent hover:bg-green-700 focus:ring-4 focus:ring-brand-medium shadow-xs font-medium leading-5 rounded-base text-sm px-4 py-2.5 focus:outline-none"
      >
      Submit
    </button>
  </form>
  <p class="text-gray-400">Already have an account ?  <a routerLink="/login" class="text-green-400 ms-2">Log in</a></p>
  </div>
</div>
