<div class="w-full bg-[#f7f9fb] flex items-center justify-center h-screen">
  <div class=" bg-white items-center w-lg  flex flex-col pb-5">
    <div class="text-center bg-black m-auto rounded-lg text-white py-4 w-full">
      <img src="Logo.png" class="h-20 m-auto w-20" />
      <h1 class="text-2xl font-semibold mb-2">Create an account</h1>
      <p class="text-body-subtle text-sm">Enter your detail to Create your account today</p>
    </div>
    <form class=" mx-auto p-8 flex flex-col gap-4 w-full" (ngSubmit)="submit()" [formGroup]="loginForm">
      <div class="mb-5">
        <label for="email" class="block mb-2.5 text-sm font-medium text-heading">Email</label>
        <input
          type="email"
          formControlName="email"
          id="email"
          class="bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-green-400 focus:border-green-400 block w-full px-3 py-2.5 shadow-xs placeholder:text-body"
          placeholder="name@flowbite.com"
          required
        />
      </div>
      <div class="mb-5">
        <label for="password" class="block mb-2.5 text-sm font-medium text-heading">Password</label>
        <input
          type="password"
          formControlName="password"
          id="password"
          class="bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-green-400 focus:border-green-400 block w-full px-3 py-2.5 shadow-xs placeholder:text-body"
          placeholder="••••••••"
          required
        />
      </div>
      <!-- <div class="flex justify-between ">
        <div class="mb-4 flex items-center gap-2">
          <input
          type="checkbox"
            id="rememberMe"
            formControlName="rememberMe"
          />
          <label for="rememberMe" class="text-gray-700">Remember Me</label></div>
          <div class="mb-4 text-right">
            <a href="#" class="text-gray-400 hover:underline">Forgot Password?</a></div>
      </div> -->
      <button
        type="submit"
        [disabled]="loading"
        class="text-white w-full transition-colors bg-green-400 box-border border border-transparent hover:bg-green-700 focus:ring-4 focus:ring-brand-medium shadow-xs font-medium leading-5 rounded-base text-sm px-4 py-2.5 focus:outline-none"
      >
        {{ loading ? 'Logging in...' : 'Submit' }}
      </button>
    </form>
    <p class="text-gray-400 px-5">Don't have an account ?  <a routerLink="/register" class="text-green-400 ms-2">Free Register</a></p>
    <div class="text-center mt-4">
      <p>or Login With</p>
      <img src="g.png" alt="Google" class="w-10 h-10 mx-auto my-2 cursor-pointer"/>
    </div>
  </div>
</div>
