<div class="flex flex-col gap-5">
    <div class="border-l-4 border-green-400 pl-5 flex justify-between items-center">
        <h1 class="font-bold text-2xl w-fit">Cousres Table</h1>
        <a routerLink="/home/create-course"
            class="w-max p-2 flex items-center gap-3 px-4 text-lg rounded-lg bg-green-500 text-white cursor-pointer">
            <span class="pi pi-plus text-lg"></span>
            Add New course
        </a>
    </div>
    <div class="relative overflow-x-auto bg-neutral-primary-soft shadow-xs rounded-base border border-default">
        <table class="w-full text-sm text-left rtl:text-right text-body">
            <thead class="bg-neutral-secondary-soft border-b border-default">
                <tr>
                    <th class="px-6 py-3 font-medium">Thumbnail</th>
                    <th class="px-6 py-3 font-medium">Title</th>
                    <th class="px-6 py-3 font-medium">Title (AR)</th>
                    <th class="px-6 py-3 font-medium">Price</th>
                    <th class="px-6 py-3 font-medium">Category</th>
                    <th class="px-6 py-3 font-medium">Level</th>
                    <th class="px-6 py-3 font-medium">Duration</th>
                    <th class="px-6 py-3 font-medium">isPublished</th>
                    <th class="px-6 py-3 font-medium">Action</th>
                </tr>
            </thead>
            <tbody>
               @for (course of allCourses ; track course.id) {
                <tr class="odd:bg-neutral-primary even:bg-neutral-secondary-soft border-b border-default">

                    <td class="px-6 py-4">
                        <img [src]="course.thumbnail" alt="thumbnail" class="w-16 h-16 rounded object-cover">
                    </td>
                    <td class="px-6 py-4 font-medium text-heading whitespace-nowrap">
                        {{ course.title }}
                    </td>

                    <td class="px-6 py-4">
                       {{ course.title_ar }}
                    </td>


                    <td class="px-6 py-4">
                        {{ course.price}}
                    </td>
                    <td class="px-6 py-4">
                        {{ course.category.name}}
                    </td>
                    <td class="px-6 py-4">
                        {{ course.level}}
                    </td>
                    <td class="px-6 py-4">
                        {{ course.duration}}
                    </td>
                    <td class="px-6 py-4">
                        {{ course.isPublished?"yes":"no"}}
                    </td>
                    <td class="px-6 py-4">
                        <div class="flex items-center gap-4">
                            <button class="cursor-pointer"><span class="pi pi-pencil text-lg text-green-500"></span></button>
                            <button class="cursor-pointer"><span class="pi pi-trash text-lg text-red-500"></span></button>
                        </div>
                    </td>

                </tr>
                }
            </tbody>
        </table>
    </div>
</div>
